<phpunit
        bootstrap="src/vendor/autoload.php"
>
    <testsuites>
        <testsuite name="My Tests">
            <directory>src/test</directory>
            <file>ValidationTest.php</file>
            <file>DbTest.php</file>
            <file>SqlHelperTest.php</file>
            <file>InputTest.php</file>
            <file>GameTest.php</file>
            <file>GameNumbersTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
