<header class="header">
	{% if email %}
		<div class="authorized">
			<div class="authorized__profile">
				<a href="#" class="authorized__profile-name">{{ email }}</a>
				<p class="authorized__field js-log-out">Выход</p>
			</div>
			<a href="#">
				<img src="{{ path ? path : '/img/default.png' }}" alt="profile-avatar" class="authorized__avatar">
			</a>
		</div>
	{% else %}
		<div class="authorized">
			<ul>
				<li class="authorized__field js-register">Регистрация</li>
				<li class="authorized__field js-log-in">Вход</li>
			</ul>
		</div>
	{% endif %}
</header>
