{% extends '/base/base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../styles/css/mainPage.css">
{% endblock %}

{% block body %}
    <div class="main-page flex-center">
        <ul class="main-page__variants">
            <li class="main-page__variants-list flex-center">
                <a href="GameFiled">1</a>
            </li>
            <li class="main-page__variants-list flex-center">
                <a href="">2</a>
            </li>
        </ul>
    </div>
{% endblock %}