<footer class="footer flex-row">
	<div class="footer__friends">
		<img src="../img/footer_img1.png" alt="Министерство Энергетики РФ" class="friends__img">
		<img src="../img/footer_img2.png" alt="Россети" class="friends__img">
		<img src="../img/footer_img3.png" alt="Портал" class="friends__img">
		<img src="../img/footer_img4.png" alt="ФАС России" class="friends__img">
	</div>
	<div class="footer__back">
		<p class="back__date">© 2003–2019 ПАО «МРСК Центра»</p>
		<p class="back__about">Спасибо за внимание</p>
	</div>
</footer>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/login.js"></script>
