{% extends '/base/base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="page-not-found flex-center">
        <span class="">404</span>
    </div>
{% endblock %}
