.authorized {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-bottom: 20px;

	&__profile {
		display: flex;
		justify-content: center;

	}

	&__avatar {
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}

	&__name {
		margin-right: 20px;
	}
}
