@import "modal";

.auth {
	&__text {
		font-family: 'Rubik Mono One', sans-serif;
		font-size: 35px;
	}

	&__field {
		margin-top: 7px;
		padding: 20px 10px;
		font-size: 40px;
	}

	&__email {
		margin-bottom: 20px;
	}
}

.authorized {
	display: flex;
	margin-top: 25px;
	color: #fff;
	width: 300px;
	justify-content: space-between;

	&__avatar {
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	&__field {
		cursor: pointer;
	}

	&__profile-name {
		font-size: 60px;
		margin-bottom: 20px;
	}

	&__profile {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin-right: 20px;
		color: #fff;
	}
}
